@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0 auto;
  padding: 0;
}

/* HEADER/NAVBAR */
.header {
  border-top: 15px solid black;
  width: 100%;
}
.div_home_primary {
  align-items: center;
  display: flex;
  height: 135px;
  margin: 0 auto;
  padding: 14px;
}
.logo {
  height: 200px;
  width: 200px;
}
.div_home_secondary {
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 95%;
}
.div_search {
  align-items: center;
  display: flex;
  gap: 3px;
  justify-content: center;
}
.search_input {
  height: 25px;
  width: 300px;
}
.search_button {
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 23px;
  height: 25px;
}
.div_home_terceary {
  align-items: center;
  display: flex;
  font-size: 16px;
  gap: 10px;
  margin: 10px;
  width: 200px;
}
.icons_nav {
  display: flex;
  font-size: 25px;
  gap: 10px;
}
.links {
  align-items: center;
  border-top: 0.5px solid rgb(201, 201, 201);
  border-bottom: 0.5px solid rgb(201, 201, 201);
  display: flex;
  height: 35px;
  justify-content: center;
  width: 100%;
}
.links_div {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  gap: 1.5%;
  width: 80%;
}
.links_div a:last-child {
  color: rgb(184, 2, 2);
}
@media screen and (max-width: 768px) {
  .header {
    border-top: none;
    border-bottom: 1px solid rgb(201, 201, 201);
    margin-bottom: 2rem;
    padding-bottom: 25px;
  }
  .logo {
    height: 180px;
    width: 180px;
  }
  .div_home_secondary {
    display: flex;
    justify-content: space-evenly;
  }
  .div_search,
  .links {
    display: none;
  }
  .div_home_terceary {
    width: 100%;
  }
  .login {
    display: none;
  }
  .icons_nav {
    font-size: 28px;
    gap: 20px;
  }
}
.container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 83vh;
  width: 100%;
}
.bg_home {
  background-image: linear-gradient(to bottom, rgba(1, 1, 2, 0.445), #010407a1),
    url("../../public/bg_home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
  height: 100%;
  z-index: -1;
}
